/* ### SECTION 1 ### */
.gameplay
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    .gameplay-contener
        width: max-content
        height: max-content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .consol
            position: relative
            width: max-content
            img
                position: relative
                width: 840px
        .dual-screen
            position: absolute
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 120px
            width: 840px
            height: 765px
            .screen
                height: 260px
                width: 400px
            .contener-top
                height: 260px
                width: 400px
                display: flex
                .paquetchou
                    width: 60%
                    height: 100%
                    display: flex
                    flex-direction: column
                    justify-content: end
                    .paquetchou-body
                        img
                            height: 175px
                            padding-left: 50px
                .carapils
                    width: 40%
                    height: 100%
                    .carapils-body
                        img
                            height: 100px
                            padding-left: 30px
            .contener-bot
                background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../assets/image/menu-bg.png")
                background-size: 100%
                height: 260px
                width: 400px
                z-index: -1
                #main-menu
                    height: 260px
                    width: 400px
                    display: flex
                    justify-content: center
                    align-items: center


/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px)


/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px)


/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px)


/* ### BIG DESKTOP ### */
@media (min-width: 1025px)
