/* ### SECTION 2 ### */
.gameplay
    width: 100%
    height: 100vh
    display: flex
    justify-content: space-around
    align-items: center
    .gameplay-left
        width: 30%
        height: 530px
        .title
            p
                font-family: "PokemonSolid"
                letter-spacing: 4px
                text-align: center
                color: #FFCB07
                font-size: 45px
                -webkit-text-stroke: 4px #1159DA
    .gameplay-contener
        width: max-content
        height: max-content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .consol
            position: relative
            width: max-content
            overflow: hidden
            img
                position: relative
                width: 840px
                overflow: hidden
        .dual-screen
            position: absolute
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 120px
            width: 840px
            height: 765px
            .screen
                height: 260px
                width: 400px
            .contener-top
                height: 260px
                width: 400px
                #bigContenerTop
                    height: 260px
                    width: 400px
                    display: none
                    .paquetchou
                        width: 60%
                        height: 100%
                        display: flex
                        flex-direction: column
                        justify-content: end
                        .paquetchou-body
                            img
                                height: 175px
                                padding-left: 50px
                    .carapils
                        width: 40%
                        height: 100%
                        .carapils-body
                            img
                                height: 100px
                                padding-left: 30px
            .contener-bot
                height: 260px
                width: 400px
                z-index: 0
                #mainMenu
                    display: flex
                .main-menu
                    height: 260px
                    width: 400px
                    display: flex
                    justify-content: center
                    align-items: center
                    button
                        cursor: pointer
                        height: 75px
                        width: 150px
                        border: transparent solid 10px
                        border-top: grey solid 5px
                        border-left: grey solid 5px
                        border-bottom: black solid 5px
                        border-right: black solid 5px
                        transition: all 0.1s ease
                        margin-top: 20px
                        margin-bottom: 20px
                        p
                            font-family: "dogicapixelblod"
                            line-height: 16px
                    button:hover
                        background: #333333
                        color: #FFF
                        border-bottom: black solid 10px
                        border-right: black solid 10px
                        margin-top: 15px
                        margin-bottom: 25px
                    button:active
                        background: #000
                        color: #FFF
                        border-bottom: black solid 0px
                        border-right: black solid 0px
                        margin-top: 25px
                        margin-bottom: 15px
                #gameMenu
                    display: none
                .game-menu
                    height: 260px
                    width: 400px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    gap: 20px
                    .text-box
                        width: 400px
                        height: 30%
                        background-color: rgba(0,0,0,0.7)
                        border-bottom: 5px #bdbdbd solid
                        border-top: 5px #bdbdbd solid
                        color: #FFFFFF
                        padding: 8px
                        font-family: "dogicapixel"
                        font-size: 14px
                    .game-menu-btn
                        #gameMenuBtn0
                            display: flex
                            gap: 20px
                            button
                                cursor: pointer
                                height: 75px
                                width: 150px
                                border: transparent solid 10px
                                border-top: grey solid 5px
                                border-left: grey solid 5px
                                border-bottom: black solid 5px
                                border-right: black solid 5px
                                transition: all 0.1s ease
                                margin-top: 20px
                                margin-bottom: 20px
                                p
                                    font-family: "dogicapixelblod"
                                    line-height: 16px
                            button:hover
                                background: #333333
                                color: #FFF
                                border-bottom: black solid 10px
                                border-right: black solid 10px
                                margin-top: 15px
                                margin-bottom: 25px
                            button:active
                                background: #000
                                color: #FFF
                                border-bottom: black solid 0px
                                border-right: black solid 0px
                                margin-top: 25px
                                margin-bottom: 15px
                        #gameMenuBtn1
                            display: none
                            button
                                cursor: pointer
                                height: 75px
                                width: 150px
                                border: transparent solid 10px
                                border-top: grey solid 5px
                                border-left: grey solid 5px
                                border-bottom: black solid 5px
                                border-right: black solid 5px
                                transition: all 0.1s ease
                                margin-top: 20px
                                margin-bottom: 20px
                                p
                                    font-family: "dogicapixelblod"
                                    line-height: 16px
                            button:hover
                                background: #333333
                                color: #FFF
                                border-bottom: black solid 10px
                                border-right: black solid 10px
                                margin-top: 15px
                                margin-bottom: 25px
                            button:active
                                background: #000
                                color: #FFF
                                border-bottom: black solid 0px
                                border-right: black solid 0px
                                margin-top: 25px
                                margin-bottom: 15px
                        #gameMenuBtn2
                            display: none
                            button
                                cursor: pointer
                                height: 75px
                                width: 150px
                                border: transparent solid 10px
                                border-top: grey solid 5px
                                border-left: grey solid 5px
                                border-bottom: black solid 5px
                                border-right: black solid 5px
                                transition: all 0.1s ease
                                margin-top: 20px
                                margin-bottom: 20px
                                p
                                    font-family: "dogicapixelblod"
                                    line-height: 16px
                            button:hover
                                background: #333333
                                color: #FFF
                                border-bottom: black solid 10px
                                border-right: black solid 10px
                                margin-top: 15px
                                margin-bottom: 25px
                            button:active
                                background: #000
                                color: #FFF
                                border-bottom: black solid 0px
                                border-right: black solid 0px
                                margin-top: 25px
                                margin-bottom: 15px
                #replayMenu
                    display: none
                    height: 260px
                    width: 400px
                    justify-content: center
                    align-items: center
                    gap: 20px
                    button
                        cursor: pointer
                        height: 75px
                        width: 150px
                        border: transparent solid 10px
                        border-top: grey solid 5px
                        border-left: grey solid 5px
                        border-bottom: black solid 5px
                        border-right: black solid 5px
                        transition: all 0.1s ease
                        margin-top: 20px
                        margin-bottom: 20px
                        p
                            font-family: "dogicapixelblod"
                            line-height: 16px
                    button:hover
                        background: #333333
                        color: #FFF
                        border-bottom: black solid 10px
                        border-right: black solid 10px
                        margin-top: 15px
                        margin-bottom: 25px
                    button:active
                        background: #000
                        color: #FFF
                        border-bottom: black solid 0px
                        border-right: black solid 0px
                        margin-top: 25px
                        margin-bottom: 15px
    .gameplay-right
        height: 530px
        width: 30%
        background-image: url("../assets/image/Taylor-Swift.png")
        background-position: center
        background-repeat: no-repeat
        background-size: contain

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px)


/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px)


/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px)


/* ### BIG DESKTOP ### */
@media (min-width: 1025px)
