/* ### SECTION 1 ### */
.nintendo
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    .game-content
        height: 95% 
        width: auto
        .consol
            height: 100%
            width: 100%
            position: relative
            z-index: 0
            img
                height: 100%
                width: 100%
                position: relative
                z-index: 0
        .enemi-pakemoun
            position: absolute
            z-index: 1
            top: 10%
            left: 54%
            img
                height: 125px
                position: absolute
        .my-pakemoun
            position: absolute
            z-index: 1
            top: 19%
            left: 42%
            img
                height: 225px
                position: absolute
            

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px)


/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px)


/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px)


/* ### BIG DESKTOP ### */
@media (min-width: 1025px)
